Repository kdozlo/algorithm-study, pull requests merged in 2024-07, with the labels that each got.

#1 BOJ 19941: 햄버거 분배
  limsubin/.gitignore
  limsubin/baekjoon/boj19941.py
Labels: BOJ, SOLVE

#2 BOJ 19941: 햄버거 분배
  kimdaeyeong/src/baekjoon/Boj19941.java
Labels: BOJ, SOLVE

#3 BOJ 9017: 크로스 컨트리
  limsubin/baekjoon/boj9017.py
Labels: BOJ, SOLVE

#5 BOJ 9017: 크로스 컨트리
  kimdaeyeong/src/baekjoon/Boj9017.java
Labels: BOJ, SOLVE

#7 BOJ 18429: 근손실
  kimdaeyeong/src/baekjoon/Boj18429.java
Labels: BOJ, SOLVE

#4 BOJ 2607: 비슷한 단어
  limsubin/baekjoon/boj2607.py
Labels: BOJ, SOLVE

#6 BOJ 2607: 비슷한 단어
  kimdaeyeong/src/baekjoon/Boj2607.java
Labels: BOJ, SOLVE

#8 BOJ 18429: 근손실
  limsubin/baekjoon/boj18429.py
Labels: BOJ, SOLVE

#9 BOJ 21610: 마법사 상어와 비바라기
  limsubin/baekjoon/boj21610.py
Labels: BOJ, SOLVE

#10 BOJ 21610: 마법사 상어와 비바라기
  kimdaeyeong/src/baekjoon/Boj21610.java
Labels: BOJ, SOLVE

#12 BOJ 2310: 어드벤처 게임
  limsubin/baekjoon/boj2310_재방문고려O.py
  limsubin/baekjoon/boj2310_재방문고려X.py
Labels: BOJ, SOLVE

#11 BOJ 2310: 어드벤처 게임
  kimdaeyeong/src/baekjoon/Boj2310.java
Labels: BOJ, SOLVE

#14 BOJ 4883: 삼각 그래프
  limsubin/baekjoon/boj4883.py
Labels: BOJ, SOLVE

#13 BOJ 4883: 삼각 그래프
  kimdaeyeong/src/baekjoon/Boj4883.java
Labels: BOJ, SOLVE

#15 BOJ 22251: 빌런 호석
  kimdaeyeong/src/baekjoon/Boj22251.java
Labels: BOJ, SOLVE

#17 PG 92341: 주차 요금 계산
  limsubin/programmers/pg92341.py
Labels: PG, SOLVE

#18 PG 92341: 주차 요금 계산
  kimdaeyeong/src/programmers/Pg92341.java
Labels: PG, SOLVE

#19 BOJ 1515: 수 이어 쓰기
  kimdaeyeong/src/baekjoon/Boj1515.java
Labels: BOJ, SOLVE

#20 BOJ 1515: 수 이어 쓰기
  limsubin/baekjoon/boj1515.py
Labels: BOJ, SOLVE

#16 BOJ 22251: 빌런 호석
  limsubin/baekjoon/boj22251.py
Labels: BOJ, SOLVE

#21 BOJ 17485: 진우의 달 여행 (Large)
  limsubin/baekjoon/boj17485.py
Labels: BOJ, SOLVE

#22 BOJ 17485: 진우의 달 여행 (Large)
  kimdaeyeong/src/baekjoon/Boj17485.java
Labels: BOJ, SOLVE

#24 PG 81302: 거리두기 확인하기
  kimdaeyeong/src/programmers/Pg81302.java
Labels: PG, SOLVE, ALGORITHM

#26 PG 59404: 여러 기준으로 정렬하기
  kimdaeyeong/sql/Pg59404.sql
Labels: PG, SOLVE, SQL

#23 PG 81302: 거리두기 확인하기
  limsubin/programmers/pg81302.py
Labels: PG, SOLVE, ALGORITHM

#25 PG 59404: 여러 기준으로 정렬하기
  limsubin/sql/pg59404.sql
Labels: PG, SOLVE, SQL

#27 BOJ 3584: 가장 가까운 공통 조상
  limsubin/baekjoon/boj3584.py
Labels: BOJ, SOLVE, ALGORITHM

#28 BOJ 3584: 가장 가까운 공통 조상
  kimdaeyeong/src/baekjoon/Boj3584.java
  kimdaeyeong/src/baekjoon/Boj3584LCA.java
Labels: BOJ, SOLVE, ALGORITHM

#29 PG 13114: 경기도에 위치한 식품창고 목록 출력하기
  kimdaeyeong/sql/Pg13114.sql
Labels: PG, SOLVE, SQL

#30 PG 131114: 경기도에 위치한 식품창고 목록 출력하기
  limsubin/sql/pg131114.sql
Labels: PG, SOLVE, SQL

#34 BOJ 2036: 수열의 점수
  kimdaeyeong/src/baekjoon/Boj2036.java
Labels: BOJ, SOLVE, ALGORITHM

#33 PG 131535: 조건에 맞는 회원수 구하기
  kimdaeyeong/sql/Pg131535.sql
Labels: PG, SOLVE, SQL

#31 BOJ 2036: 수열의 점수
  limsubin/baekjoon/boj2036.py
Labels: BOJ, SOLVE, ALGORITHM

#32 PG 131535: 조건에 맞는 회원수 구하기
  limsubin/sql/pg131535.sql
Labels: PG, SOLVE, SQL

#38 PG 298515: 잡은 물고기 중 가장 큰 물고기의 길이 구하기
  kimdaeyeong/sql/Pg298515.sql
Labels: PG, SOLVE, SQL

#37 BOJ 12886: 돌 그룹
  kimdaeyeong/src/baekjoon/Boj12886.java
  kimdaeyeong/src/baekjoon/Boj12886SlowVer.java
Labels: BOJ, UN-SOLVE, ALGORITHM

#36 PG 298515: 잡은 물고기 중 가장 큰 물고기의 길이 구하기
  limsubin/sql/pg298515.sql
Labels: PG, SOLVE, SQL
