Repository kdozlo/algorithm-study, pull requests merged in 2024-08, with the labels that each got.

#40 PG 151138: 자동차 대여 기록에서 장기/단기 대여 구분하기
  limsubin/sql/pg151138.sql
Labels: PG, UN-SOLVE, SQL

#35 BOJ 12886: 돌 그룹
  limsubin/baekjoon/boj12886.py
Labels: BOJ, UN-SOLVE, ALGORITHM

#44 PG 293259: 잡은 물고기의 평균 길이 구하기
  limsubin/sql/pg293259.sql
Labels: PG, SOLVE, SQL

#42 PG 151138: 자동차 대여 기록에서 장기/단기 대여 구분하기
  kimdaeyeong/sql/Pg151138.sql
Labels: PG, UN-SOLVE, SQL

#46 PG 293259: 잡은 물고기의 평균 길이 구하기
  kimdaeyeong/sql/Pg293259.sql
Labels: PG, SOLVE, SQL

#43 BOJ 18427: 함께 블록 쌓기
  limsubin/baekjoon/boj18427.py
Labels: BOJ, SOLVE, ALGORITHM

#45 BOJ 18427: 함께 블록 쌓기
  kimdaeyeong/src/baekjoon/Boj18427.java
Labels: BOJ, SOLVE, ALGORITHM

#50 PG 276013: Python 개발자 찾기
  kimdaeyeong/sql/Pg151138.sql
  kimdaeyeong/sql/Pg276013.sql
Labels: PG, SOLVE, SQL

#47 BOJ 3079: 입국심사
  kimdaeyeong/src/baekjoon/Boj3079.java
Labels: BOJ, SOLVE, ALGORITHM

#48 BOJ 3079: 입국심사
  limsubin/baekjoon/boj3079.py
Labels: BOJ, SOLVE, ALGORITHM

#49 PG 276013: Python 개발자 찾기
  limsubin/sql/pg276013.sql
Labels: PG, SOLVE, SQL

#52 PG 298517: 가장 큰 물고기 10마리 구하기
  limsubin/sql/pg298517.sql
Labels: PG, SOLVE, SQL

#39 BOJ 2240: 자두나무
  limsubin/baekjoon/boj2240.py
Labels: BOJ, SOLVE, ALGORITHM

#55 PG 181188: 요격 시스템
  limsubin/programmers/pg181188.py
Labels: PG, SOLVE, ALGORITHM

#56 PG 164673: 조건에 부합하는 중고거래 댓글 조회하기
  limsubin/sql/pg164673.sql
Labels: PG, SOLVE, SQL

#58 PG 164673: 조건에 부합하는 중고거래 댓글 조회하기
  kimdaeyeong/sql/Pg164673.sql
Labels: PG, SOLVE, SQL

#57 PG 181188: 요격 시스템
  kimdaeyeong/src/programmers/Pg181188.java
Labels: PG, UN-SOLVE, ALGORITHM

#54 PG 298517: 가장 큰 물고기 10마리 구하기
  kimdaeyeong/sql/Pg298517.sql
Labels: PG, SOLVE, SQL

#53 BOJ 9177: 단어 섞기
  kimdaeyeong/src/baekjoon/Boj9177BFS.java
Labels: BOJ, UN-SOLVE, ALGORITHM

#51 BOJ 9177: 단어 섞기
  limsubin/baekjoon/boj9177_bfs.py
  limsubin/baekjoon/boj9177_dp.py
Labels: BOJ, SOLVE, ALGORITHM
